# 1. 숫자형

# 1) 정수형,실수형 대입

In [1]:
a = 100

print(a)
print(type(a))

100
<class 'int'>

In [2]:
b = -3.14

print(b)
print(type(b))

-3.14
<class 'float'>

In [3]:
c = True

print(c)
print(type(c))

True
<class 'bool'>

## 2) 2,8,16진수

In [4]:
print(0x2f)
print(0o17)
print(0b1101)

47
15
13

In [5]:
print(hex(47))
print(oct(15))
print(bin(13))

0x2f
0o17
0b1101

## 3) 수치연산

In [6]:
a = 9
b = 4

print(a+b, a-b, a*b, a/b)
print(a ** b)
print(a//b, a%b)

13 5 36 2.25
6561
2 1

In [7]:
a = 3.14e3
print(a)

b = 3.14e-3
print(b)

3140.0
0.00314

# 2. 진위형

In [8]:
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [9]:
print(bool(""))
print(bool([]))
print(bool(0))
print(bool(None))

False
False
False
False

In [10]:
a = 3

if a >= 3:
    print("참")

참

# 3. 문자열
## 1)문자열 사용

In [11]:
a = "Hello Python"
b = "Hello 'Python'"
c = 'Hello "Python"'

print(a)
print(b)
print(c)

Hello Python
Hello 'Python'
Hello "Python"

In [12]:
d = 'Hello \'Python\''
e = "Hello \"Python\""
print(d)
print(e)

Hello 'Python'
Hello "Python"

In [13]:
stra = """ Hello Python
Hello World
test
"""

strb = "Hello Python\nHello World"

print(stra)
print(strb)

 Hello Python
Hello World
test

Hello Python
Hello World

In [14]:
inta = 10 + 20 + 30 + \
40 + 50

print(inta)

150

## 2) 확장열(이스케이프 코드)

In [15]:
a = "Hello Python\nHello World"
b = "Hello\t\tPython"

print(a)
print(b)

c = "c:\KDTwork\\test"
print(c)

Hello Python
Hello World
Hello		Python
c:\KDTwork\test

# 3) 문자열 연산

In [16]:
head = "Hello"
tail = "Python"
print(head + " " + tail)

Hello Python

In [17]:
stra = "-"
print(stra * 40)

----------------------------------------

In [18]:
print(len("Hello Python"))
print(len([1, 2, 3, 'a']))

12
4

# 4.컬렉션

In [19]:
city = ['Seoul', 'NewYork', 'Beijing', 'Tyokyo']
print(city)

for item in city:
    print("도시이름 :", item)

['Seoul', 'NewYork', 'Beijing', 'Tyokyo']
도시이름 : Seoul
도시이름 : NewYork
도시이름 : Beijing
도시이름 : Tyokyo