## 1. 인덱싱/슬라이싱
## 1) 인덱싱

In [3]:
stra = "Hello, Python!!"

print(stra[7])
print(stra[-8])

print(stra[0])
print(stra[-1])

P
P
H
!

## 2) 슬라이싱

In [5]:
stra = "Life is too short, you need python"

#Life 추출 
print(stra[0:4:1])
print(stra[:4:1])
print(stra[:4])

Life
Life
Life

In [8]:
# 전체 문장 추출
print(stra[:])

# 전체 문장 추출 (한칸 건너 띄어서 문자 가져오기)
print(stra[::2])

# 문장을 뒤에서부터 가져오기
print(stra[::-1])

Life is too short, you need python
Lf stosot o edpto
nohtyp deen uoy ,trohs oot si efiL

In [15]:
stra = "HeLlo"

# stra[2] = "l"

strb = stra[0:2] + "I" + stra[3:5]
print(strb)

HeIlo

In [23]:
# 주민등록번호로 유용한 정보 추출하기

resno = "981225-3032223"

year = resno[0:2]
mon = resno[2:4]
date = resno[4:6]

gubun = resno[7]

print(year, mon, date, gubun)

if gubun in["1","3"]:
    gubun = "남자"
else:
    gubun = "여자"
    
print("생년월일 :", year, "년", mon, "월", date, "일")
print("남녀구분 :", gubun)

98 12 25 3
생년월일 : 98 년 12 월 25 일
남녀구분 : 남자

In [26]:
stra = "Life is too short, you need python"

stra[-6:-3]

'pyt'

## 2. 문자열 메서드

### 1)검색 메서드

In [32]:
values = "Hello Python!, Hello Python world!"

# find "P", "lo"
print(values.find("P"))
print(values.find("lo"))
print(values.find("k"))

6
3
-1

In [35]:
#rfind "P"
print(values.rfind("P"))
print(values.rfind("lo"))
print(values.find("k"))

21
18
-1

In [39]:
# index
print(values.index("P"))
print(values.index("lo"))
print(values.index("k"))

6
3

ValueError: substring not found

In [40]:
# rindex
print(values.rindex("P"))
print(values.rindex("lo"))
print(values.rindex("k"))

21
18

ValueError: substring not found

In [43]:
values = "Hello Python!, Hello Python world!"

# count, len

print(values.count("P"))
print(len(values))

2
34

## 2) 조사 메서드

In [44]:
# in not in

values = "Hello Python!, Hello Python World!"

print("Python" in values)
print(("Python" not in values))

True
False

In [50]:
# startswith, endwith

print(values.startswith("Hello"))
values.endswith("World!")

True

True

In [51]:
# isalpha, islower, isupper, 
print(values.isalpha())
print(values.islower())
print(values.isupper())

print("abcABC".isalpha())
print("abc".islower())
print("ABC".isupper())

False
False
False
True
True
True

In [59]:
# isspace, isalnum, isdigit, isdecimal, isnumeric
values = "Hello Python!, Hello Python world!"

print(values.isalnum())
print(values.isdigit())
print(values.isspace())
print(values.isdecimal())
print(values.isnumeric())
print("--------------------")
print("   ".isspace())
print("105aaa".isalnum())
print("105".isdigit())
print("105".isdecimal())
print("105".isnumeric())

False
False
False
False
False
--------------------
True
True
True
True
True

## 3) 변경 메서드

In [61]:
# lower, upper, swapcase, capitalize, title

values = "Hello Python!, Hello Python world!"

print(values.lower())
print(values.upper())
print(values.swapcase())
print(values.capitalize())
print(values.title())

hello python!, hello python world!
HELLO PYTHON!, HELLO PYTHON WORLD!
hELLO pYTHON!, hELLO pYTHON WORLD!
Hello python!, hello python world!
Hello Python!, Hello Python World!

In [64]:
#strip, istrip, rstrip
values = "     Hello Python!, Hello Python world!     "

print("-----" + values.strip() + "-----")
print("-----" + values.lstrip() + "-----")
print("-----" + values.rstrip() + "-----")

-----Hello Python!, Hello Python world!-----
-----Hello Python!, Hello Python world!     -----
-----     Hello Python!, Hello Python world!-----

### 4) 분할 메서드

In [71]:
# split, splitlines

values = "orange, apple, banana, mango"

print(values.split(", "))

values = "Hello Python!\nLife is too short"
print(values.splitlines())

['orange', 'apple', 'banana', 'mango']
['Hello Python!', 'Life is too short']

In [75]:
#join

values = "abcde"
#print(",".join(values))
print(":".join(values))

a:b:c:d:e

## 5) 대체/정렬 메서드

In [81]:
# replace

values = "orange, apple, banana, mango, apple, mango, apple"

print(values.replace("apple", "사과"))
print(values.replace("apple", "사과", 2))

orange, 사과, banana, mango, 사과, mango, 사과
orange, 사과, banana, mango, 사과, mango, apple

In [83]:
# ljust, rjust, center

print("=====" + values.ljust(60) + "-----")
print("=====" + values.rjust(60) + "-----")
print("=====" + values.center(60) + "-----")

=====orange, apple, banana, mango, apple, mango, apple           -----
=====           orange, apple, banana, mango, apple, mango, apple-----
=====     orange, apple, banana, mango, apple, mango, apple      -----

## 3. 포매팅 
### 1) +연산자를 사용한 포매팅

In [84]:
# + 연산자를 사용한 포매팅

name = "홍길동"
age = 30
print("이름 :" + name + "나이 :" + str(age))

이름 :홍길동나이 :30

### 2)표식을 사용한 포매팅

In [90]:
# 정수형 표식 : %d

num = 3
print("l eat %d oranges" % num)

# 좌측정렬, 10자리수
print("l eat %-10d oranges" % num)

l eat 3 oranges
l eat 3          oranges

In [92]:
# 문자열 표식 : %s

stra = "three"
print("l eat %s oranges" % stra)

# 좌측정렬, 10자리수
print("l eat %-10s oranges" % stra)

l eat three oranges
l eat three      oranges

In [95]:
# 실수형 표식 : %f

pi = 3.1415924
print("pi = %f" % pi)

# 소숫점 3자리, 10자리 확보, 좌측정렬
print("pi = %-10.3f" %pi)

pi = 3.141592
pi = 3.142

In [96]:
# + 연산자를 이용한 포매팅 - 표식을 사용한 포매팅
name = "홍길동"
age = 30
print("이름 : "+ name + "나이 : " + str(age))
print("이름 : %s 나이 : %d" % (name, age))

이름 : 홍길동나이 : 30
이름 : 홍길동 나이 : 30

### 3) format 함수를 사용한 포매팅

In [97]:
print("a : {} b: {} c {}".format(10, 20, 30))

a : 10 b: 20 c 30

In [98]:
# 변수로 대입
name = "홍길동"
age = 30
email = "hong@hotmail.com"

print("{} {} {}".format(name, age, email))

홍길동 30 hong@hotmail.com

In [102]:
# 순서 변경

print("{1} {2} {0}".format(name, age, email))
print("name : {name}, age : {age}".format(name="홍길동",age=30))

30 hong@hotmail.com 홍길동
name : 홍길동, age : 30

In [104]:
# 정렬 {>: 우측,<:좌측, ^: 중앙}

print("{1:>} {2:<30} {0:^30}".format(name, age, email))

30 hong@hotmail.com                            홍길동

In [106]:
# 실수
pi = 3.141593
print("{0:10.4f}".format(pi))

    3.1416

### 3) f 문자열을 사용한 포매팅

In [111]:
# 기본 문장
name = "홍길동"
age = 30 
height = 178.5

print(f"이름 : {name}, 나이 : {age}")
print(f"이름 : {name:^10s}, 나이 : {age:<10d}, 키 :{height:->10.1f}")

이름 : 홍길동, 나이 : 30
이름 :    홍길동    , 나이 : 30        , 키 :-----178.5

## 5) 4가지 포매팅 활용 예제

In [117]:
# 출력 
# 이름 : 홍길동, 나이 : 30세, email :hong@hotmail.com
name = "홍길동"
age = 30 
email = "hong@hotmail.com"
# + 연산자
print("이름 : " + name + ", 나이 : " + str(age)+ "세, email : " + email)

# 표식
print("이름 : %s, 나이 : %d세, email : %s" %(name, age, email))
#format 메서드
print("이름 : {}, skdl : {}세, email : {}".format(name, age, email))
# f 문자열
print(f"이름 " {name}, 나이 : {age}세, email : {eamil}")

SyntaxError: unterminated string literal (detected at line 14) (1743373245.py, line 14)