### 1.리스트

### 1)리스트 생성

In [7]:
a = []
b = ["yellow", "red", "white"]
c = [1, 2, 3, 4, 5]
d = [1, 2, 3, "yellow", True, 4]

In [8]:
print(a)
print(d)

print(type(b))
print(type(c))

[]
[1, 2, 3, 'yellow', True, 4]
<class 'list'>
<class 'list'>

In [9]:
e = list()
print(e)

f = list("Hello")
print(f)

[]
['H', 'e', 'l', 'l', 'o']

### 2) 인덱싱/슬라이싱

In [11]:

a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(a[0])
print(a[-1])
print(a[2])

print(a[:3])
print(a[1:])
print(a[2:6])
print(a[::])
print(a[-2:])

1
9
3
[1, 2, 3]
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[8, 9]

### 3) 변경 / 삭제

In [15]:
# 인덱싱을 이용한 변경
points = [10, 20, "AB", 40, 3.14, 60]

print(points[1])
points[1] = 100
print(points)

# 슬라이싱을 이용한 변경
points[3:5] = [1, 5]
print(points)

points[3:4] = [1000, 2000, 3000]
print(points)

20
[10, 100, 'AB', 40, 3.14, 60]
[10, 100, 'AB', 1, 5, 60]
[10, 100, 'AB', 1000, 2000, 3000, 5, 60]

In [20]:
# 리스트 요소 값 삭제 : 슬라이싱
points = [10, 20, "AB", 40, 3.14, 60]

points[1:2] = []
print(points)

points[1:3] = []
print(points)

[10, 'AB', 40, 3.14, 60]
[10, 3.14, 60]

### 4) 리스트 연결

In [42]:
lista = ["A", "B", "C", "D"]
listb = ["1", "2", "3", "4"]
listc = [10, 20, 30]
lista + listb + listc

print(lista + listb + listc)
print(lista)
print(listb)
print(listc)

['A', 'B', 'C', 'D', '1', '2', '3', '4', 10, 20, 30]
['A', 'B', 'C', 'D']
['1', '2', '3', '4']
[10, 20, 30]

### 5) 이중 리스트

In [25]:
points = [10, 20, [31, 32, 33], 40, ["A", "B", "C"], 50, 60]
print(points)
print(type(points))

print(points[0], points[1], points[2], points[3], points[4], points[5], points[6])
print("-----------------------------------")
print(points[2])
print(points[2][1])
print(points[4][0])

[10, 20, [31, 32, 33], 40, ['A', 'B', 'C'], 50, 60]
<class 'list'>
10 20 [31, 32, 33] 40 ['A', 'B', 'C'] 50 60
-----------------------------------
[31, 32, 33]
32
A

In [33]:
a = [1, 2, 3,['a', 'b', [100, 200, 300]], 'hellow', 'python']
# 2 추출
print(a[1])
# 'b' 추출
print(a[3])
print(a[3][1])
#300 추출
print(a[3][2])
print(a[3][2][2])

2
['a', 'b', [100, 200, 300]]
b
[100, 200, 300]
300

In [35]:
# 슬라이싱
points = [10, 20, [31, 32, 33], 40, ["A", "B", "C"], 50, 60]

print(points[2:4])

[[31, 32, 33], 40]

### 6) 리스트 컴프리헨션

In [39]:
points = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print([item for item in points])
print([item for item in points if item > 60])
print([item * 2 for item in points if item > 60])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[70, 80, 90, 100]
[140, 160, 180, 200]

## 7) 리스트 메서드

In [44]:
# 추가 : append, insert, extend

a = [1, 2, 3, 4, 5]
a.append(11)

print(a)

a.insert(5, 100)
print(a)

b = ['A', 'B', 'C', 'D']
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 5, 11]
[1, 2, 3, 4, 5, 100, 11]
[1, 2, 3, 4, 5, 100, 11, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

### 8) 리스트 삭제

In [50]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'c']

a.remove('a')
print(a)
a.remove('a')
print(a)

a.pop()
print(a)
print("-------------------------")
a.pop(2)
print(a)

del(a[3])
print(a)

del(a[3:6])
print(a)

['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'c']
['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'b', 'c']
['b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'b']
-------------------------
['b', 'c', 'e', 'f', 'g', 'h', 'i', 'j', 'b']
['b', 'c', 'e', 'g', 'h', 'i', 'j', 'b']
['b', 'c', 'e', 'j', 'b']

### 9) 검색

In [101]:
# index, count

a = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'c']

print(a.index('b'))
print(a.index('b',3))
print(a.count('b'))

1
11
2

In [58]:
# len, min, max
b = [10, 20, 30, 40 , 50, 60, 70]

print(len(a))
print(min(b), max(b))

13
10 70

In [62]:
# in, not in
print(30 in b)
print("f" not in a)

True
False

### 10) 정렬

In [66]:
# sort, reverse
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'c']
a.sort()
print(a)

a.sort(reverse=True)
print(a)

['a', 'a', 'b', 'b', 'c', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'c', 'b', 'b', 'a', 'a']

In [67]:
# reverse
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'c']

a.reverse()
print(a)

['c', 'b', 'a', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [76]:
# sorted : 소팅된 리스트를 리턴, 원본은 그대로

print(sorted(a))
print(sorted(a, reverse=True))
print(a)

['a', 'a', 'b', 'b', 'c', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'c', 'b', 'b', 'a', 'a']
['c', 'b', 'a', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [69]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [71]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## 2.튜플

### 1) 튜플 생성

In [81]:
a = ()
b = tuple()
c = (1, )
d= ('a', 'b','c')
    
print(a)
print(b)
print(c)
print(d)
    
print(type(a))

()
()
(1,)
('a', 'b', 'c')
<class 'tuple'>

### 2) 튜플로 가능한 일

In [85]:
# +, *
a = (1,2,3)
b = (4,5,6)

print(a + b)
print(a * 2)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)

In [92]:
# 여러 개 변수 대입 / 초기화
nums = 1,2,3
print(type(nums))
print(nums)

a, b, c = nums
print(a, b, c)

print("----------------------------------")
a, b = b, a
print(a, b)

<class 'tuple'>
(1, 2, 3)
1 2 3
----------------------------------
2 1

In [97]:
# 함수 리턴값 

def calc(a,b):
    return a + b, a - b, a * b, a / b

print(calc(10, 20))
a, b, c, d = calc(10, 20)

print(a, b, c, d)

(30, -10, 200, 0.5)
30 -10 200 0.5

### 3) 튜플 메서드

In [102]:
# index, count
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'c']

print(a.index('b'))
print(a.index('b',3))
print(a.count('b'))

1
11
2

In [103]:
# len, min, max
b = [10, 20, 30, 40 , 50, 60, 70]

print(len(a))
print(min(b), max(b))

13
10 70

In [1]:
# sorted : 소팅된 리스트를 리턴, 원본은 그대로
a = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j', 'a','b','c')

print(sorted(a))
print(sorted(a, reverse=True))
print(a)

['a', 'a', 'b', 'b', 'c', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'c', 'b', 'b', 'a', 'a']
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'a', 'b', 'c')

In [105]:
# tuple()
a = (1, 2, 3)
b = list(a)

print(type(a))
print(type(b))
print(a)
print(b)

b.append(100)
c = tuple(b)
print(c)

<class 'tuple'>
<class 'list'>
(1, 2, 3)
[1, 2, 3]
(1, 2, 3, 100)